<mat-toolbar class="custom-toolbar" color="primary">
  <mat-chip-listbox>
    <mat-chip-option mat-button routerLink="/bebes">
      <mat-icon>child_care</mat-icon>
      Bebes
    </mat-chip-option>

    <mat-chip-option mat-button routerLink="/apoderados">
      <mat-icon>people</mat-icon>
      Apoderados
    </mat-chip-option>

    <mat-chip-option mat-button routerLink="/tipoEnfermedad">
      <mat-icon>healing</mat-icon>
      Tipo Enfermedad
    </mat-chip-option>

    <mat-chip-option mat-button routerLink="/tipoEnfermedadBebe">
        <mat-icon>healing</mat-icon>
        Tipo Enfermedad según bebe
      </mat-chip-option>

    <mat-chip-option mat-button routerLink="/ControlVacunacion">
      <mat-icon>medical_services</mat-icon>
      Control Vacunacion
    </mat-chip-option>

    <mat-chip-option mat-button routerLink="/Medico">
      <mat-icon>people</mat-icon>
      Medico
    </mat-chip-option>

    <mat-chip-option mat-button routerLink="/citaMedica">
      <mat-icon>medical_services</mat-icon>
      Cita Medica
    </mat-chip-option>

    <mat-chip-option mat-button routerLink="/problemas">
      <mat-icon>medical_services</mat-icon>
      Problemas
    </mat-chip-option>

    <mat-chip-option mat-button routerLink="/soporteTecnico">
      <mat-icon>medical_services</mat-icon>
       Soporte Tecnico
    </mat-chip-option>

    <mat-chip-option mat-button routerLink="/controlVacunacionBebe">
        <mat-icon>medical_services</mat-icon>
        Control Vacunacion según bebe
      </mat-chip-option>

    <span class="espacio_extendido"></span>

  </mat-chip-listbox>
  </mat-toolbar>
  <router-outlet></router-outlet>
