.custom-toolbar {
    background-color: rgb(146, 205, 205);
    height: 110 px;
  }

  .mat-button {
    color: rgb(0, 0, 0);
  }

  .mat-icon {
    margin-right: 5px;
  }

  .mat-icon {
    font-size: 24px;
  }

  .mat-button:hover {
    background-color: #009688;
  }
