<div class="list-container">
    <h2>BebeTipoEnfermedad List</h2>
  
    <div class="search-container">
      <mat-form-field class="search-input">
        <mat-label>Search BebeTipoEnfermedad</mat-label>
        <input matInput type="text" [(ngModel)]="searchBebeTipoEnfermedad" (ngModelChange)="searchBebeTipoEnfermedadList()">
      </mat-form-field>
    </div>
  
    <div class="insert-button-container">
      <button mat-raised-button color="primary" routerLink="/add-edit-tipoEnfermedadbebe">Insert BebeTipoEnfermedad</button>
    </div>
  
    <table class="centered-table mat-elevation-z8">
      <thead>
        <tr>
          <th>ID</th>
          <th>Bebe</th>
          <th>Tipo Enfermedad</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bebeTipoEnfermedad of filteredBebeTipoEnfermedades" (click)="logData(bebeTipoEnfermedad)">
          <td>{{ bebeTipoEnfermedad.idTipoEnfermedadBebe }}</td>
      
          <td>{{ bebeTipoEnfermedad.bebe.nombreBebe }}</td>
          <td>{{ bebeTipoEnfermedad.tipoEnfermedad.nombreEnfermedad}}  {{ bebeTipoEnfermedad.tipoEnfermedad.tipoTipoEnfermedad}}</td>
      
          <td class="options-cell">
            <div class="options-wrapper">
              
              <button mat-icon-button color="warn" (click)="deleteBebeTipoEnfermedad(bebeTipoEnfermedad.idTipoEnfermedadBebe)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
